.container
{
    width: 1180px;
    height: auto;
    padding: 20px;
    background-color: grey;
    margin: 20px auto 20px auto;

}

.header
{
    display: grid;
    width: auto;
    height: 64px;
    padding:20px;
    background-color:white;
    margin-bottom: 20px;
    text-align: center;
    align-content: center;
    border: 1px solid black;

    
}

.box {
    display: grid;
    height: 400px;
    grid-template-columns: 70% 30%;
    gap: 20px;
    margin: 0 20px 20px 0;
    
}

.box div {
    width: auto;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
    
}

.footer {
    display: grid;
    height: 200px;
    grid-template-columns: auto auto auto;
    gap: 20px;
   
}

.footer div {
    width: auto;
    border: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}